* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


/*Header*/
.header {
  padding: 60px;
  text-align: center;
  color: white;
}

.navbar {
  display: flex;
  background-color: #333;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}


/*Main*/
.row {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.features {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 50px 20px;
  justify-items: center;
  align-items: start;
}

.feature-container {
  margin-top: 10px;
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.feature-container p {
  color: #000;
  line-height: 1.4;
  margin-bottom: 15px;
  max-width: 350px;
  text-align: center;
}

.feature-container img {
  width: 100%;
  margin-bottom: 15px;
}

.info {
  display: inline-block;
  padding: 10px 20px;
  background-color: gray;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.info:hover {
  background-color: #5e8e5c;
  color: white;
  transition-timing-function: ease-in; 
  font-size:16px;
}

.imagen {
  width: 300px;
  height: 250px;
  box-shadow: 0 0 10px #727272;
  margin: 15px;
}
/*
hr {
  justify-content: center;
  align-items: center; 
}*/


/*Footer*/
footer {
  background-color: #333;
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  text-align: center;
}

.redes-sociales {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto;
  grid-gap: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
}

li {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}