html { 
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}
body{
    font-size: 1.6rem;
}
img {
    max-width: 100%;
}

/* h1 {
    font-size: 2rem;
} */
.header{
    padding: 60px;
    text-align: center;
    background-image:url(./img/copa.jpeg);
    color: white;
}

.header-logo{
    width: auto;
    display: inline-block;
    margin: 0.5rem;
}
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;

}

.entrada-blog a {
    display:inline-block;
    /* background-color: #2196F3; */
    background-color: rgb(4, 44, 4);
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.imagen{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px #727272;
    margin: 15px;
}

.gif-logo-der{
    /* width: 25%; */
    width: 100px;
    height:auto;
    float:right;
    margin: 0.5rem;
}
.gif-logo-izq{
    /* width: 25%; */
    width: 100px;
    height:auto;
    float:left;
    margin: 0.5rem;
}
@media only screen and (max-width: 600px) {
    .tres-columnas {
        display: grid;
    }
    body{
        background-color: rgb(218, 218, 108); 
        /* border: rgb(218, 218, 108); */
    }
    
    }
    
@media only screen and (min-width: 600px) {
        .tres-columnas {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2rem;
        }
        body{
            background-color: rgb(194, 236, 178);
            /* border: rgb(194, 236, 178); */
        }
        /* footer{
            grid-template-columns: repeat(5, 1fr);
            column-gap: 2rem;
            width: 10px;
        } */

        
    }
    
@media only screen and (min-width: 996px) {
    .tres-columnas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
    
    body{
        background-color: rgb(9, 116, 9);
        /* border:rgb(9, 116, 9); */
    }
}


